In [6]:
import pandas as pd
import numpy as np

In [21]:
csv_path = "data/employees.csv"
employees = pd.read_csv(csv_path)
employees_dup = employees[employees.duplicated(subset=['emp_no'])] 
employees_dup

Empty DataFrame
Columns: [emp_no, emp_title_id, birth_date, first_name, last_name, sex, hire_date]
Index: []

In [ ]:
# No duplicates on emp_no from employees

In [22]:
csv_path = "data/departments.csv"
departments = pd.read_csv(csv_path)
departments_dup = departments[departments.duplicated(subset=['dept_no'])] 
departments_dup

Empty DataFrame
Columns: [dept_no, dept_name]
Index: []

In [ ]:
# No duplicates on dept_no from departments

In [23]:
csv_path = "data/dept_emp.csv"
dept_emp = pd.read_csv(csv_path)
dept_emp_dup = dept_emp[dept_emp.duplicated(subset=['emp_no'])] 
dept_emp_dup

        emp_no dept_no
10       10010    d006
19       10018    d005
31       10029    d006
43       10040    d008
54       10050    d007
...        ...     ...
331554  499955    d009
331564  499964    d006
331576  499975    d003
331585  499983    d009
331595  499992    d003

[31579 rows x 2 columns]

In [ ]:
# Several employees work for several departments.

In [25]:
csv_path = "data/dept_manager.csv"
dept_manager = pd.read_csv(csv_path)
dept_manager_dup = dept_manager[dept_manager.duplicated(subset=['emp_no'])] 
dept_manager_dup

Empty DataFrame
Columns: [dept_no, emp_no]
Index: []

In [ ]:
# No duplicates on emp_no for dept_manager, it implies that employees only work as department manager on only one department.

In [26]:
csv_path = "data/salaries.csv"
salaries = pd.read_csv(csv_path)
salaries_dup = salaries[salaries.duplicated(subset=['emp_no'])] 
salaries_dup

Empty DataFrame
Columns: [emp_no, salary]
Index: []

In [ ]:
# No duplicates on emp_no for salaries.

In [27]:
csv_path = "data/titles.csv"
titles = pd.read_csv(csv_path)
titles_dup = titles[titles.duplicated(subset=['title_id'])] 
titles_dup

Empty DataFrame
Columns: [title_id, title]
Index: []

In [ ]:
# No duplicates on title_id.